 * {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root{
    --blue: #0B132B;
    --white: #FFFBF2;
    --secondary-blue: #8D91F5;
}

body {
    font-family: Poppins, sans-serif;
    width: 100%;
    position: relative;
    background-color: var(--blue);
    color: var(--white);
}

::selection{
    background-color: var(--secondary-blue);
    color: var(--white);
    -webkit-text-stroke: 0px #fffbf200;

}

a {
    color: var(--secondary-blue);
}

.flex{
    display: flex;
}

.col{
    flex-direction: column;
}
.row{
    flex-direction: row;
}

.pad-8{
    padding: 8px;
}
.pad-16{
    padding: 16px;
}
.pad-24{
    padding: 24px;
}
.pad-32{
    padding: 32px;
}

.w100{
    width: 100%;
}
.h100{
    height: 100%;
}

.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}
